.hero {
  padding: 4rem 0;
  color: white;
  text-align: center;
  height: 80vh;
  mask: linear-gradient(var(--primary-color) 80%, transparent 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: white;
  z-index: 1;
}

.hero-content h1 {
  font-family: "Kantumruy Pro", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 3.9rem;
  margin-bottom: 1rem;
  border-radius: 29px;
  padding: 11px 19px;
}

.subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  opacity: 0.9;
}

.cta-buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  color: var(--btn-text-light);
}

.btn.primary {
  background: var(--btn-primary-bg);
  color: var(--btn-text-light);
  box-shadow: 0 4px 6px var(--btn-shadow);
}

.btn.primary:hover {
  background: var(--btn-primary-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px var(--btn-shadow);
}

.btn.secondary {
  background: var(--btn-secondary-bg);
  border: 1px solid var(--btn-border);
  color: var(--btn-text-light);
  box-shadow: 0 4px 6px var(--btn-shadow);
}

.btn.secondary:hover {
  background: var(--btn-secondary-hover);
  border-color: var(--btn-primary-hover);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px var(--btn-shadow);
}

.skills {
  padding: 1rem 0;
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin: 0 10px;
}

.skill-card i {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.skill-card h3 {
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.skill-card p {
  color: var(--text-color);
  opacity: 0.8;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1.25rem;
  }

  .hero {
    padding: 2rem 0;
  }

  .cta-buttons {
    flex-direction: column;
  }

  .skills-grid {
    grid-template-columns: 1fr;
  }
}

.card:hover i{
  color: var(--text-color);
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .hero{
    margin-bottom: 0;
    padding: 10px;
  }

  .skills {
    padding: 0rem 0;
    margin-bottom: 3rem;
  }

  .hero h1{
    font-size: clamp(2.7rem, 5vw, 3.9rem);
  }

  .subtitle {
    font-size: clamp(1.2rem, 3vw, 2rem);
    text-wrap: wrap;
  }
}