.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  background: linear-gradient(180deg, var(--shadow-color), var(--background-color), var(--card-background));
  position: relative;
    background: var(--hero-image) no-repeat center
      center/cover;
}

.main-content {
  flex: 1;
}

app-navbar{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}

